name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        go_version: ["1.19", "1.20", "1.21"]
        OS: ["ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go_version }}

      - name: Build DB
        run: docker-compose build

      - name: Run DB
        run: docker-compose up -d

      - name: Test
        run: go test -v main_test.go

  build:
    needs: test
    runs-on: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: go build -v main.go
